*{ margin: 0px; padding: 0px;}
.btnnonjb	{
    border-radius: 10px;
  	background-color: #3643ff;
  	min-width: 160px;
  	min-height: 100px;
  	color: white;
  	font-size: 25px;
  	border: inset;
  	border-width: 5px;
  	cursor: pointer;
  	animation: moveright1 2s;
    position: absolute;
    left: 320px;
    top: 20%;
        	}
.btnjb	{
    border-radius: 10px;
    background-color: #ff0000;
    min-width: 160px;
    min-height: 100px;
    color: white;
    font-size: 25px;
    border: inset;
    border-width: 5px;
    cursor: pointer;
  	animation: moveright2 2s;
    position: absolute;
    left: 320px;
    top: 40%;
        	}
.jb	{
    border-radius: 50%;
    background-color: #0800088;
    min-width: 160px;
    min-height: 100px;
    color: black;
    font-size: 25px;
    border: inset;
    border-width: 5px;
    cursor: pointer;
  	animation: moveright3 2s;
    position: absolute;
    left: 320px;
    top: 60%;
        	}
.btnnonjb:hover,
.btnjb:hover,
.btnnonjb:focus,
.btnjb:focus
{
  background-color: black;
}
.jb:hover,
.jb:focus{
	background-color: gray;
}
@-webkit-keyframes moveright1{
  from{
    transform: translateX(-50%);
  }
  to{
    transform: translateX(0%);
  }
}
@-webkit-keyframes moveright2{
  from{
    transform: translateX(-100%);
  }
  to{
    transform: translateX(0%);
  }
}
@-webkit-keyframes moveright3{
  from{
    transform: translateX(-150%);
  }
  to{
    transform: translateX(0%);
  }
}
@media (min-width:576px){
/* -sm- */
.limit-line-sm-1 {
-webkit-line-clamp: 1 !important;
}
.limit-line-sm-2 {
-webkit-line-clamp: 2 !important;
}
.limit-line-sm-3 {
-webkit-line-clamp: 3 !important;
}
.limit-line-sm-4 {
-webkit-line-clamp: 4 !important;
}
.limit-line-sm-5 {
-webkit-line-clamp: 5 !important;
}
}
@media (min-width:768px){
/* -md- */
.limit-line-md-1 {
-webkit-line-clamp: 1 !important;
}
.limit-line-md-2 {
-webkit-line-clamp: 2 !important;
}
.limit-line-md-3 {
-webkit-line-clamp: 3 !important;
}
.limit-line-md-4 {
-webkit-line-clamp: 4 !important;
}
.limit-line-md-5 {
-webkit-line-clamp: 5 !important;
}
}
@media (min-width:1080px){
/* -md- */
.limit-line-md-1 {
-webkit-line-clamp: 1 !important;
}
.limit-line-md-2 {
-webkit-line-clamp: 2 !important;
}
.limit-line-md-3 {
-webkit-line-clamp: 3 !important;
}
.limit-line-md-4 {
-webkit-line-clamp: 4 !important;
}
.limit-line-md-5 {
-webkit-line-clamp: 5 !important;
}
}
