<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://doc-0k-ac-docs.googleusercontent.com/docs/securesc/mbtk7aajqt696rlv21e8e5a258odjlhf/hhorldlb1qqd04a42tkguo1g360vbvf3/1588180800000/14703322160127164607/12158025702872597580/1HoWctyZoNcJaapuriKWFYUEcmuewdl-U?e=download&authuser=0&nonce=rsd27jjuh9nrs&user=12158025702872597580&hash=ghntearecbjrvmr66o6kng79k2iqmo16</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.iossp.pangu</string>
				<key>bundle-version</key>
				<string>0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Pangu 9.2 - 9.3.3 by Mọt Táo</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
