<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://p-def7.pcloud.com/cfZpO88BuZq7MDjBZPr7J7ZZ10cla7Z2ZZqIzZZJv0r7ZV0ZIJZD0ZIVZ30ZD5ZjVZXVZ9XZjFZoJZJ0ZMFZr5ZU1lM7R52wSHACTyTeT57RSYIW1vV/Phoenix.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.iossp.phoenix</string>
				<key>bundle-version</key>
				<string>0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Phoenix 9.3.5 - 9.3.6 by Mọt Táo</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
